@import 'tailwindcss';

@theme {
  --color-base: #202124;
  --color-primary: #e8eaed;
  --color-secondary: #5d5d5d;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url('./assets/fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2') format('woff2');
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-base);
    color: var(--color-primary);
    overflow: hidden;
  }

  .border,
  .border-b {
    border-color: var(--color-secondary);
  }

  * {
    scrollbar-color: var(--color-neutral-500) transparent;
  }
}

@utility shadow-base {
  box-shadow: 0.5px 0.5px 6px rgba(0, 0, 0, 0.6);
}

@utility material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
